@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  color: #e9ecef;
}

.wrapper {
  height: 100%;
  width: 100%;
  position: fixed;
}

.bg {
  background: #6bafcc url(/assets/images/bg1.png) bottom left;
  background-repeat: repeat-x;
  height: 100%;
  position: fixed;
  background-size: 30rem auto;
  width: 90rem;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(0.3rem);
  -webkit-backdrop-filter: blur(0.2rem);
  height: 100%;
  width: 100%;
  position: fixed;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.8rem;
  position: relative;
}

/* .main::before {
  content: "Light / Dark";
  top: 10px;
  right: 10px;
  position: absolute;
} */

.photo img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  object-position: 90%;
  border-radius: 100%;
  border: 4px solid #495057;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.8rem;
}

.title {
  font-size: 3.2rem;
  font-weight: 900;
  letter-spacing: 0.15rem;
  text-shadow: 0 0.1rem 0.2rem #495057;
  display: flex;
}

.links {
  list-style: none;
  letter-spacing: 0.1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 28rem;
}

.link-item {
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 0.3rem;
  /* background: rgba(56, 58, 71, 1); */
  background: #495057;
  color: #e9ecef;
  padding: 0.4rem 0.7rem 0.5rem;
  margin: 0.25rem 0.1rem;
}

/* .web {
  background: #f0db4f;
  color: #000;
}

.pp {
  background: #7d4bc3;
}

.snow {
  background: #fff;
  color: #4a8afc;
}

.tech {
  background: #a4c34a;
  color: #fff;
} */

.content > .nav-icons {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.icon {
  height: 3rem;
  width: 3rem;
  fill: #e9ecef;

  filter: drop-shadow(0.1rem 0.1rem 0.1rem rgb(0 0 0 / 0.4));
  cursor: pointer;
  display: block;
  /* border: 1px solid;
  border-radius: 50%; */
}

.icon path {
  fill: none;
  stroke: #e9ecef;
  font-weight: 900;
}

/*  304px */
@media screen and (min-width: 19em) {
  .bg {
    background-size: 40rem auto;
    width: 90rem;
  }
}

/*  368px */
@media screen and (min-width: 23em) {
  .bg {
    background-size: 50rem auto;
    width: 90rem;
  }
}

/*  768px */
@media screen and (min-width: 48em) {
  .bg {
    background-size: 60rem auto;
    width: 150rem;
  }

  .photo img {
    width: 14rem;
    height: 14rem;
  }

  .title {
    align-self: start;
    font-size: 3.8rem;
  }
}
/*  1280px */
@media screen and (min-width: 80em) {
  .bg {
    background-size: 90rem auto;
    width: 600rem;
  }

  .main {
    flex-direction: row;
  }

  .photo img {
    width: 20rem;
    height: 20rem;
    border: 6px solid #495057;
  }

  .content {
    gap: 2.8rem;
  }

  .title {
    align-self: start;
    font-size: 4.4rem;
  }

  .links {
    max-width: 50rem;
    justify-content: flex-start;
  }

  .link-item {
    font-size: 1.6rem;
  }

  .nav-icons {
    align-self: flex-start;
  }

  .icon {
    height: 3.4rem;
    width: 3.4rem;
  }
}
